/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global {
	font-family:"dotumche";
}

s|Label.title {
	color:#B4FF00;
	font-size:14px;
	font-weight:bold;
}

s|Label.dispTime {
	color:#999999;
	font-family:"dotumche";
	font-size:11px;
}

s|Label.soundInfoTitle {
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

s|Label.soundInfo {
	color:#AAAAAA;
	font-size:11px;
}

s|Label.soundPan {
	font-size:10px;
}